@charset "utf-8";

html {
	height: 100%;
}

img, object, embed, video {
	max-width: 100%;
}
header {
	margin-bottom: 10px;
	width: 100%;
}

header img {
	width: 99%;
}
h1{
	font-size: 20px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

footer {
	width: 96%;
	clear: left;
	text-align: center;
	font-size: 0.45em;
	margin: 30px 0;
	padding-bottom: 5px;
	border-top: 2px solid rgba(128,98,26,1.00);
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}


/* SECTION DE LA PAGE D'ACCUEIL */

.image_accueil{
	min-width: 220px;
}

.lesoptions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}


.hover-opt:hover{
    opacity: 1;
    opacity: 0;
    transition: .5s;
}


/* DIFFERENTE TAILLE  */

@media only screen and (max-width: 481px) {
	body {
		width: 91.14%;
		padding-left: 0.93%;
		padding-right: 0.93%;
		clear: none;
		float: none;
		margin-left: auto;
	}

	nav a {
		width: 32%;
		height: auto;
		float: left;
		clear: none;
		overflow: visible;
		margin-bottom: 0px;
	}

	nav a img {
		width: 100%;
		height: 100%;
	}

	.lesoptions {
		display: grid;
		grid-template-columns: 1fr;
		gap: 10px;
	}

	.lesoptions article a > img {
		width: 100%;
	}

	nav a:nth-of-type(4) {
		clear: left
	}

	footer {
		font-size: 0.8em;
	}
}


@media only screen and (min-width: 769px) {
	html {
		background-color: rgba(176,124,48,1.00);
		margin: 0px auto;
	}
	body {
		width: 88.2%;
		max-width: 800px;
		padding-left: 0.9%;
		padding-right: 0.9%;
		margin: auto;
		clear: none;
		float: none;
		margin-left: auto;
		background-color: white;
		-moz-box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px;
		-webkit-box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px;
		box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px
	}
	footer {
		font-size: 1.2em;
	}
}